In [1]:
import pandas as pd
import numpy as np

In [32]:
df = pd.DataFrame(
    data = {
        "A":[1,2,3,4,5,6,7],
        "B":[7,6,5,4,3,2,1]
    }
)

In [21]:
def sqrt_item(x):
    return x*x
df["A_sqrt"] = df['A'].apply(sqrt_item)
df["B_sqrt"] = df['B'].apply(sqrt_item)
df.head()

   A  B  A_sqrt  B_sqrt
0  1  7       1      49
1  2  6       4      36
2  3  5       9      25
3  4  4      16      16
4  5  3      25       9

In [14]:
df["A_sqrt"] = df['A'].apply(lambda ele: ele*ele)
df["B_sqrt"] = df['B'].apply(lambda ele: ele*ele)
df.head()

   A  B  A_sqrt  B_sqrt
0  1  7       1      49
1  2  6       4      36
2  3  5       9      25
3  4  4      16      16
4  5  3      25       9

In [28]:
def sqrt_data(x):
    return x["A"]*x["A"],x["B"]*x["B"]

df[["A_sqrt","B_sqrt"]] = df.apply(sqrt_data,axis=1,result_type="expand")
df.head()

   A  B  A_sqrt  B_sqrt
0  1  7       1      49
1  2  6       4      36
2  3  5       9      25
3  4  4      16      16
4  5  3      25       9

In [36]:
df[["A_sqrt","B_sqrt"]] = df.apply(lambda x: x["A"]*x["A"],x["B"]*x["B"],axis=1,result_type="expand")
df.head()

NameError: name 'x' is not defined

In [41]:
x,y= df.apply(lambda x: return(x["A"]*x["A"],x["B"]*x["B"]),axis=1,result_type="expand")
df.head()

SyntaxError: invalid syntax (<ipython-input-41-51040abe30f7>, line 1)